body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App_page{
  background-color: rgb(91, 114, 117);
}
.container {
  max-width: 600px;
  margin: 0 auto;
}

.nav-header{
  text-align: center;
}

.nav_details{
  margin: 20px;
  padding: 20px;

}

.nav_signup{
  padding: 50px;
}

.nav_create_blog{
  padding: 50px;
}


.card {
  background-color: pink;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
  text-align: center;
}

.delete_btn{
  color: aliceblue;
  background-color: black;
}